#chatList {
    width: calc(350px - 1px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #00e6e6;
}
#searchInput {
    width: 80%;
}
#chat {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.chatEntry {
    position: relative;
    width: 100%;
    height: calc(75px - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #00e6e6;
    cursor: pointer;
}
.chatEntry:hover {
    background-color: #99ffff;
}
.chatEntry:hover .chatNameEdit {
    display: flex;
}
.chatEntry > .profileImg {
    position: relative;
}
.chatEntry > .profileImg > img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}
.availabilityStatus {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    bottom: -2.5px;
    right: 2.5px;
}
.chatEntry > div:nth-child(2) {
    max-width: 60%;
}
.username {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.chatName {
    max-width: 90%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.chatName > div:nth-child(1) {
    max-width: calc(100% - 15px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.chatName > div:nth-child(1):has(input) {
    padding: 10px 5px;
}
.chatName input {
    max-height: 30px;
}
.chatName .chatNameEdit {
    position: relative;
    max-height: 15px;
    display: none;
    justify-content: center;
    align-items: center;
}
.chatName .chatNameEdit > div {
    position: absolute;
    width: 100%;
    height: 100%;
}
.chatName .chatNameEdit svg {
    height: 15px;
    width: auto;
}
.firstMessage {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#chatType {
    width: 80%;
    padding-left: 10px;
}
#chatType > div label {
    margin-left: 5px;
}

#createGroupChat {
    display: flex;
    align-items: center;
}
#createGroupChat svg {
    max-width: 12.5px;
    margin-right: 5px;
}

.addUsersButton {
    position: absolute;
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    right: 20px;
    display: none;
    justify-content: center;
    align-items: center;
}
.addUsersButton svg {
    max-width: 12.5px;
}
.chatEntry:hover .addUsersButton {
    display: flex;
}

#startNewConversations {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.chatName:has(input) + .firstMessage {
    padding-left: 5px;
}